@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');



.pattern_fill .tn-atom
{
    background-attachment: fixed;
    background-size: auto !important;
    background-repeat: repeat !important;
}

.roboto-slab .tn-atom
{
    font-family: 'Roboto Slab', serif !important;
}

.bg_contain .tn-atom
{
    background-size:contain !important;
}

.t-text_md
{
    font-size: 17px;
}

@media screen and (max-width: 640px){
.t-text_md {
    font-size: 12px;
}}